/* Колір основного тексту  #212121 */
/* Вторинний колір тексту  #757575*/
/* Білий #FFFFFF*/
/* Акцент  #2196F3*/
/* Вторинний колір фону #F5F5F5*/
/* Колір фону додатковий #F5F4FA*/

:root {
	--primary-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--primary-text-color-theme-light: #212121;
	--primary-text-color-theme-dark: #ffffff;
	--secondary-text-color-theme-light: #757575;
	--secondary-text-color-footer: rgba(255, 255, 255, 0.6);
	--accent-color: #2196f3;
	--primary-background-color: #f5f5f5;
	--secondary-background-color: #2f303a;
	--accent-background-color: #f5f4fa;
	--background-button-color: #188ce8;
	--border-color: #eeeeee;
	--card-set-gap: 30px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}
.address {
	font-style: normal;
}
button {
	font-family: inherit;
	cursor: pointer;
	border: none;
}

body {
	font-family: var(--primary-font);
	color: var(--primary-text-color-theme-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	margin: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
	color: currentColor;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* ================= COMPONENTS ================= */

/* ================== HEADER ================== */

.page-header {
	margin: auto;
	border: 1px solid #ececec;
	background-color: var(--primary-text-color-theme-dark);
}

.navigation {
	display: flex;
}

.page-navigation {
	display: flex;
	align-items: center;
}
.logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

.logo-black {
	display: block;
}

.logo-header {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--primary-text-color-theme-light);
}

.media-list {
	display: flex;
	align-items: center;
	margin-left: 93px;
}

.media-list-link {
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color-theme-light);
}

.media-list-item {
	display: block;
}

.media-list-link:hover,
.media-list-link:focus {
	color: var(--accent-color);
}

.contact-list-link {
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color-theme-light);
}

.contact-list-link:hover,
.contact-list-link:focus {
	color: var(--accent-color);
}

.contact-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}

.media-list,
.contact-list {
	gap: 50px;
}
/* =================== HEADER ================ */

/* ==================== HERO ==================*/
.hero {
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: var(--secondary-background-color);
	/* max-width: 1600px;
	height: 600px; */
}

.hero-title {
	padding-right: 452px;
	margin-bottom: 30px;
	padding-left: 452px;
	color: var(--primary-text-color-theme-dark);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
/* ==================== HERO ===================*/

/* ============== BUTTON STYLES =============== */
.modal-btn {
	width: 216px;
	height: 50px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-text-color-theme-dark);
	background-color: var(--accent-color);
}

.menu-btn {
	padding: 6px 22px;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	background-color: var(--accent-background-color);
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--background-button-color);
}

.menu-btn:hover,
.menu-btn:focus {
	color: var(--primary-text-color-theme-dark);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgb(0 0 0 /10%), 0px 1px 2px rgb(0 0 0 /8%), 0px 2px 2px rgb(0 0 0 / 12%);
}

/* ============== BUTTON STYLES =============== */

/* ================ MAIN STUDIO ================*/
.about-list,
.functional-list-item,
.employees-list {
	list-style: none;
	gap: 30px;
}

.about {
	margin: auto;
	padding: 94px 0;
}

.about-list {
	display: flex;
	gap: 30px;
}

.about-list-item {
	flex-basis: calc((100% - 3 * 30px) / 4);
}

.about-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.about-description {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color-theme-light);
}

.functional-section {
}

.functional-title {
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.functional-list-title {
	display: flex;
	gap: 30px;
	padding-bottom: 94px;
}

.employees-section {
	margin: auto;
	padding-bottom: 94px;
	background-color: var(--accent-background-color);
}

.employees-card {
	background-color: var(--primary-text-color-theme-dark);
}

.employees-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: calc(-1 * var(--card-set-gap));
	/* margin-left: calc(-1 * var(--card-set-gap)); */
}

.employees-list > .employees-card {
	flex-basis: calc(100% / 4 - var(--card-set-gap));
	/* margin-left: var(--card-set-gap); */
	margin-top: var(--card-set-gap);
}

.employees-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.employees-title {
	padding-top: 94px;
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.employees-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.employees-position {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color-theme-light);
}
/* ================ MAIN STUDIO ================*/

/* ============== MAIN PORTFOLIO ============== */

.menu {
	padding: 94px 0;
}

.menu-work-item {
	border-color: var(--secondary-text-color-theme-light);
	border: 1px solid #eeeeee;
}

.menu-buttons-list {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 34px;
}

.card-content {
	padding: 20px 24px;
}

.work-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.work-description {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color-theme-light);
}

.menu-work-list {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: calc(-1 * var(--card-set-gap));
	margin-left: calc(-1 * var(--card-set-gap));
}

.menu-work-list > .menu-work-item {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
	margin-top: var(--card-set-gap);
}

/* ============== MAIN PORTFOLIO ============== */

/* ================= FOOTER ================ */
.page-footer {
	margin: auto;
	padding: 60px 0;
	background-color: var(--secondary-background-color);
}

.footer-navigation {
}

.logo-blue {
	margin-bottom: 20px;
}

.logo-footer {
	color: var(--primary-text-color-theme-dark);
}

.adress-list-link {
	color: var(--primary-text-color-theme-dark);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.adress-list-link:hover,
.adress-list-link:focus {
	color: var(--accent-color);
}

.contact-footer-link {
	color: var(--secondary-text-color-footer);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.contact-footer-link:hover,
.contact-footer-link:focus {
	color: var(--accent-color);
}

.address-list {
	flex-direction: column;
	margin-left: 0;
	gap: 9px;
}

.contact-list-footer > .contact-list-item:not(:last-child) {
	margin-bottom: 9px;
}

.navigation-footer {
}

/* ================= FOOTER ================ */
